# Logs
*.log
npm-debug.log*

node_modules
dist
coverage
html
dist-ssr
*.local
*.tsbuildinfo

test-results
e2e/reports

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
# yalc
.yalc
yalc.lock