.buckconfig
.editorconfig
.eslintignore
.gitattributes
.gitignore
.next/**/*
.npmignore
.npmrc
.prettierignore
*.jpg
*.sh
*/__snapshots__/*
node_modules
android
CODEOWNERS
ios
out/**/*
patches/*
yarn.lock
.DS_Store
*.log
*.ico
**/patches/
**/__snapshots__
.idea
lib
types
